In [1]:
import pandas as pd
pd.options.display.max_rows = 4000
pd.options.display.max_columns = 4000

In [27]:
working_folder = '/home/blackmamba/code/pbragamiranda/alerj-gastos-gabinete/data/csv_data/'

In [48]:
recipients = pd.read_csv(working_folder + 'recipients.csv')

In [49]:
recipients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8975 entries, 0 to 8974
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 8975 non-null   int64
 1   date               8975 non-null   object
 2   value              8975 non-null   float64
 3   object             8975 non-null   object
 4   to                 8975 non-null   object
 5   cost_center_name   8975 non-null   object
 6   provider_name      8975 non-null   object
 7   provider_cpf_cnpj  8975 non-null   object
 8   provider_type      8975 non-null   object
 9   entry_type_name    8975 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 701.3+ KB

In [50]:
recipients['date'] = recipients['date'].astype('datetime64[ns]')
recipients['value'] = recipients['value'] * -1

In [51]:
recipients.head(3)

,id,date,value,object,to,cost_center_name,provider_name,provider_cpf_cnpj,provider_type,entry_type_name
0,4887,2019-11-30,2500.0,GABINETE AVANÇADO EM MACAÉ,POSTO DE GASOLINA ALESSANDRA LTDA,Locação de imóveis,CALIL DE MIRANDA CELEM,104.309.627-20,CPF,Cheque
1,4890,2019-11-30,215.0,INTERNET,CLARO S/A,Acesso à internet,CLARO S/A,40.432.544/0062-69,CNPJ,Débito em conta
2,4892,2019-11-30,6500.0,DIVULGAÇÃO DE ATIVIDADES PARLAMENTAR COMUNICAÇÃO,TATIANE FREIRE MARQUES MEI,"Divulgação de sua atividade parlamentar, respe...",TATIANE FREIRE MARQUES MEI,34.369.407/0001-02,CNPJ,Transferência

In [52]:
df_2019 = recipients[(recipients['date']> "2019-01-01") & (recipients['date']< "2019-12-31")]

In [53]:
df_2019.groupby(['provider_name']).sum()

                                                       id    value
provider_name
10X VIAGENS LTDA                                     4861  2685.80
52 Gráfica e Editora Ltda                             849  5300.00
A PEIXOTO POSTO DE ABASTECIMENTO LTDA                3450   227.84
A. J. JORNALISMO LTDA                                5710  4223.65
A. L. LAGOAS - COMERCIO DE AUTO PECAS E SERVICO...   5127   225.00
...                                                   ...      ...
posto lageense RJ                                    1667   195.00
rede energia ltda                                    5493   557.53
solimar moreira pinto                                3143   460.00
suellen assumpção reis                               3141   460.00
thiago ventura santos                               19450  9600.00

[512 rows x 2 columns]